* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #121212;
    color: #bbb;
}

body {
    overflow-x: hidden;
}

article {
    max-width: 860px;
    margin: 0 auto;
    line-height: 1.7;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

figure.large-block {
    text-align: center;
}

img {
    display: inline-block;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    max-width: 100%;
    cursor: zoom-in;
}

p {
    margin-bottom: 1rem;
}

.float-block {
    float: left;
    margin: 10px;
}

.float-block.small {
    max-width: 50%;
}

@media screen and (min-width: 1180px) {
    figure.large-block {
        width: 1180px;
        margin: 0 0 1rem -160px;
    }
}

@media screen and (max-width: 480px) {
    .hide-if-mobile {
        display: none;
    }
}
